// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "mac_ansi_italian.keycodes"

// Home row mods macro
#define HRML(k1,k2,k3,k4) &mt LSHFT k1  &mt LALT k2  &mt LGUI k3  &lt SUP k4
#define HRMLB(k1,k2,k3) &mt LCTRL k1  &mt LGUI k2  &mt LALT k3
#define HRMR(k1,k2,k3,k4) &lt SYM k1  &lt FUN k2  &lt NUM k3  &mt RSHFT k4
#define HRMRB(k1,k2,k3) &mt RALT k1  &mt RGUI k2  &mt RCTRL k3

// Layers
#define DEFAULT 0
#define LOWER   1 
#define RAISE   2
#define SUP     3
#define SYM     4
#define FUN     5
#define NUM     6
#define TRI     7


/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │            
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' ?      │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , ;      │ . :      │ /        │  
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB     │LOWER BSP │   │RAISE SPC │   BSPC   │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            
            &kp IT_Q    &kp IT_W   &kp IT_E   &kp IT_R   &kp IT_T     &kp IT_Y   &kp IT_U   &kp IT_I       &kp IT_O &kp IT_P      

            &mt LSFT IT_A  &mt LALT IT_S  &mt LGUI IT_D  &lt SUP IT_F  &kp IT_G     &kp IT_H   &lt SYM IT_J &lt FUN IT_K &lt NUM IT_L &mt RSHFT IT_QUOT

            &mt LCTRL IT_Z &mt LALT IT_X &mt LGUI IT_C  &kp IT_V   &kp IT_B     &kp IT_N   &kp IT_M   &mt RALT IT_COMM &mt RGUI IT_DOT &mt RCTRL IT_SLSH
                                                                        
                                         &kp TAB    &lt LOWER BSPC  &lt RAISE SPACE  &kp BSPC
            >;
        };

        lower_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  CMD(Q)  │  CMD(W)  │  SPACE   │  CMD(R)  │  CMD(T)  │   │    é     │    ù     │    ì     │    ò     │    à     │     
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LCTRL   │   LALT   │  LGUI    │  LSHFT   │  BSPC    │   │    è     │   LEFT   │   DOWN   │   UP     │   RIGHT  │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │   CUT    │  COPY    │  PASTE   │  DEL     │   │          │          │    <     │    >     │          │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │  ----    │   │          │   DEL    │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

           &kp  LG(Q)  &kp LG(W)  &kp SPACE  &kp LG(R)   &kp LG(T)   &kp IT_EACU &kp IT_UGRV &kp IT_IGRV &kp IT_OGRV &kp IT_AGRV
          	
           &kp LCTRL   &kp LALT   &kp LGUI   &kp LSHFT   &kp BSPC    &kp IT_EGRV &kp LARW    &kp DARW    &kp UARW    &kp RARW
          
           &trans      &kp LG(X)  &kp LG(C)  &kp LG(V)   &kp DEL     &trans      &trans      &kp IT_LABK &kp IT_RABK &trans
          
                                             &trans      &none       &trans      &kp DEL

            >;
        };

        raise_layer {
            bindings = <
        
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │     :    │   ESC    │          │   │          │          │   DEL    │   BSPC   │          │            
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  CAPS    │    %     │     )    │   ENT    │          │   │          │          │   VOLD   │   VOLU   │  PLAY    │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │     (    │    !     │          │   │          │          │BRIGHT UP │BRIGHT DOW│          │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │   │  ----    │          │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

         &trans      &trans      &kp IT_COLN &kp ESC     &trans        &trans     &trans    &kp DEL      &kp BSPC     &trans 

         &kp CAPS    &kp IT_PERC &kp IT_RPRN &kp ENTER   &trans        &trans     &trans    &kp VOLD     &kp VOLU     &kp K_PLAY_PAUSE

         &trans      &trans      &kp IT_LPRN &kp IT_EXLM &trans        &trans     &trans    &kp C_BRI_UP &kp C_BRI_DN &trans 

                                             &trans      &trans       &none      &trans 
            >;
        };

	    sup_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  BSPC    │  DEL     │          │          │   │          │          │          │          │          │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │  ----    │          │   │          │          │          │          │    "     │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │    <     │    >     │    ?     │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │   SPACE  │   │          │          │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

         &trans         &kp BSPC    &kp DEL   &trans      &trans        &trans     &trans     &trans      &trans      &trans    

         &trans         &trans      &trans    &none       &trans        &trans     &trans     &trans      &trans      &kp IT_DQUO 

         &trans         &trans      &trans    &trans      &trans        &trans     &trans     &kp IT_LABK &kp IT_RABK &kp IT_QUES

                                              &trans      &kp SPACE     &trans     &trans   


            >;
        };

        sym_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    ~     │    (     │    &     │    )     │    ^     │   │          │          │    |     │    \     │    `     │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    {     │    !     │    @     │    #     │    }     │   │          │ ----     │          │          │          │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    [     │    $     │    %     │    ^     │    ]     │   │          │          │          │          │          │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │   │          │          │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

         &kp IT_TILD &kp IT_LPRN &kp IT_AMPR &kp IT_RPRN &kp IT_CIRC  &trans      &trans    &kp IT_PIPE &kp IT_BSLS &kp IT_GRV

         &kp IT_LCBR &kp IT_EXLM &kp IT_AT   &kp IT_HASH &kp IT_RCBR  &trans      &none     &trans      &trans      &trans

         &kp IT_LBRC &kp IT_DLR  &kp IT_PERC &kp IT_CIRC &kp IT_RBRC  &trans      &trans    &trans      &trans      &trans

                                             &trans      &trans      &trans       &trans      
        
            >;
        };

        
        fun_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    F7    │   F8     │    F9    │  F10     │   │          │          │          │          │          │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    F1    │   F2     │    F3    │  F11     │   │          │          │  ----    │          │          │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    F4    │   F5     │    F6    │  F12     │   │          │          │          │          │          │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │   │          │          │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

         &trans         &kp F7    &kp F8     &kp F9      &kp F10        &trans     &trans     &trans     &trans    &trans
         
         &trans         &kp F1    &kp F2     &kp F3      &kp F11        &trans     &trans     &none      &trans    &trans

         &trans         &kp F4    &kp F5     &kp F6      &kp F12        &trans     &trans     &trans     &trans    &trans

                                              &trans      &trans        &trans     &trans   


            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    7     │    8     │    9     │          │   │          │    _     │    *     │          │          │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    0     │    1     │    2     │    3     │          │   │          │    -     │    +     │  ----    │    $     │
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    4     │    5     │    6     │          │   │          │          │          │          │          │
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │    :     │   │    =     │          │
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯


         &trans        &kp 7       &kp 8      &kp 9     &trans         &trans    &kp IT_UNDS  &kp IT_ASTR &trans    &trans

         &kp 0         &kp 1       &kp 2      &kp 3     &trans         &trans    &kp IT_MINS  &kp IT_PLUS &none     &kp IT_DLR
   
         &trans        &kp 4       &kp 5      &kp 6     &trans         &trans    &kp LA(IT_MINS)  &trans      &trans    &trans

                                              &trans    &kp IT_COLN    &kp IT_EQL &trans   
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
